<!DOCTYPE html>
<html lang="ko-kr" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 th:text="'안녕하세요! '+ ${username}">안녕하세요 손님</h1>
<form action="/room" method="post" id="room-form">
    <label for="title">채팅방 생성</label>
    <input type="text" name="title" id="title" placeholder="방제를 입력하세요" />
    <button type="submit">확인</button>
</form>
<br>
<form action="/auth/logout" method="get">
    <button type="submit">로그아웃</button>
</form>
<h1 id="roomId">
</h1>
<script>
    document
        .querySelector("#room-form")
        .addEventListener("submit", async (e) => {
            e.preventDefault();
            const title = e.target["title"];
            if (title.value) {
                const response = await fetch("http://localhost:8080/room/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({"title": title.value}),
                });
                if (response.status === 200) {
                    response.text().then((src) => {
                        console.log(src);
                        document.querySelector("#roomId").textContent = src;
                    });
                }
                title.value = "";
            }
        });
</script>
</body>
</html>